<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/styles.css">
  <title>My Blog Data</title>
</head>

<body>
  <div class=navDiv>
    <nav>
      <h2 class="blogTag">My Blog</h2>
      <div class="navLinkDiv">
        <a class="headerContent" href="/">Home</a>
        <a class="headerContent" href="/about">About</a>
        <a class="headerContent" href="/contact">Contact</a>
      </div>

    </nav>
  </div>