<%- include('header') -%>
<h1 class="blogContainer"><%= blog.name %></h1>
<p class="blogContainer"><%= blog.body %> </p>

<a href="/" class="blogContainer returnLink">Return</a>







<%- include('footer') -%>
